/MolinaMySecondApp/nbproject/private/
/MolinaMySecondApp/build/
/Molina_Assignment2/nbproject/private/
/Molina_Assignment2/build/
/CreditCard/nbproject/private/
/Molina_VTipper/build/
/Molina_PracticeObjects/nbproject/private/
/Molina_PracticeObjects/build/
/stringIntCompare/nbproject/private/
/stringIntCompare/build/
/Molina_InsertFunApp/nbproject/private/
/Molina_InsertFunApp/build/
/IndProjTest1/nbproject/private/
/IndProjTest1/build/