/MolinaMySecondApp/nbproject/private/
/MolinaMySecondApp/build/
/Molina_Assignment2/nbproject/private/
/Molina_Assignment2/build/
/CreditCard/nbproject/private/
/Molina_VTipper/build/
/Molina_PracticeObjects/nbproject/private/
/Molina_PracticeObjects/build/
/stringIntCompare/nbproject/private/
/stringIntCompare/build/
/Molina_InsertFunApp/nbproject/private/
/Molina_InsertFunApp/build/
/IndProjTest1/nbproject/private/
/IndProjTest1/build/
/Molina_MidTermApp/nbproject/private/
/Molina_MidTermApp/build/
/Week8Fun/nbproject/private/
/Molina_HighLow/nbproject/private/
/Molina_HighLow/build/
/ConvertBase/nbproject/private/
/ConvertBase/build/
/ConvertBaseProcedural/nbproject/private/
/ConvertBaseProcedural/build/
/HighLow2/nbproject/private/
/HighLow2/build/
/Molina_Bester/nbproject/private/
/Molina_Bester/build/